@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* utility class */
.container {
    width: 90%;
    margin: 0 auto;
}

/* header  */
.Navbar {
    background-color: #8080804f;
}

.image img {
    width: 80%;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    list-style: none;

}

.nav ul li {
    font-size: 1.25rem;
    margin: 22px 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #0095ffba;
    padding: 10px;
}

.nav ul li a:hover {
    background-color: black;
    color: white !important;
    transition: 0.02s ease-out;
}

/* banner */

.banner {
    background-color: #0089ffcc;
}

.item {
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.leftPointer {
    height: 40px;
    width: 40px;
    border-top: 11px solid black;
    border-left: 11px solid black;
    transform: rotate(-45deg);
    margin: 100px 20px 0 8px;
    cursor: pointer;
}

.text {
    font-size: 2rem;
    color: white;
    margin: auto 0;
    cursor: pointer;
}

.text:hover {
    background-color: #0095ffc4;
}

.rightPointer {
    height: 40px;
    width: 40px;
    border-top: 11px solid black;
    border-left: 11px solid black;
    transform: rotate(135deg);
    margin: 100px 8px 0 0;
    cursor: pointer;
}

/* Midd portion */
.parts {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.part1 {
    width: 40%;
}

.part11 {
    height: 450px;
    background-color: #ddc410a1;
}

.part12 {
    height: 315px;
    width: 275px;
    background-color: #c94edff5;
    position: relative;
    top: 35px;
    left: -50px;
}

.part2 {
    width: 60%;
    margin-left: 1%;
}

.part21 {
    height: 300px;
    background-color: #fbab19;
}

.form {
    padding: 30px;
}

.formAction {
    background-color: #f1bc5a;
    margin-bottom: 15px;
    padding: 10px;
    width: 50%;
    border: 1px solid white;
    border-radius: 3px;
}

.formButton {
    background-color: #f1bc5a;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 15px;
}

.part22 {
    height: 135px;
    background-color: #85ff46e3;
    margin-top: 15px;
}

/* footer  */
.foot {
    background-color: #0089ffcc;
    height: 55px;
}

.footAlign ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

.footAlign ul li {
    margin-top: 15px;
    padding: 5px;
}

.footAlign ul li a {
    text-decoration: none;
}